popover {
    position: absolute;
    display: none;
    width: 83.6%;
    top: 80%;
    list-style: none;
    padding-bottom: 12px;
}
ul li {
    text-indent: 12px;
}
.locations:hover .popover,
.amenities:hover .popover {
    display: block;
    background-color: #FAFAFA;
    border-radius: 4px;
    border:1px solid #DDDDDD
}
h2 {
    font-size: 14px;
    padding-top: 20px;
    margin: 0px;
    padding: 0px;
}
